
/*===== Global Settings ======*/

/* title font settings */
#p0 { 
    text-align: left; 
    font-size: 32px;
    margin-left: 40px;
}
/* text font settings */
#p1 { 
    text-align: left; 
    font-size: 18px;
    margin-left: 40px;
    margin-right: 200px;
}

/*============================*/
/*============================*/



/*====== Navigation Bar ======*/

/* navigation bar settings */
.navigation_bar_left , .navigation_bar_right {
    background-color: white;
    overflow: hidden;
}
/* link settings */
.navigation_bar_left a , .navigation_bar_right a {
    margin: 3px;
    color: black;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 20px;
}
.navigation_bar_left a  {float: left;}
.navigation_bar_right a {float: right;}
/* hover link color */
.navigation_bar_left a:hover , .navigation_bar_right a:hover {
    background-color: #f0eeee;
    color: black;
}
/* active link color */
.navigation_bar_left a.active , .navigation_bar_right a.active {
    background-color: #f0eeee;
    color: black;
}
/*============================*/
/*============================*/


/*======= About Section ======*/

/* about section settings */
.about {
    margin: 3px;
    border: 0px;
    padding: 40px;
    background-color: #f0eeee;
    margin-top: 8px;
}
/* link settings */
.about a {
    color: black;
    text-decoration: none;
    padding: 0px;
}
/* image settings */
.about_image {
    margin: 30px;
    padding: 20px;
    float: right;
    width: 250px;
    margin-right: 60px;
}

/*============================*/
/*============================*/