
/*===== Global Settings ======*/

body {
    font-family: Garamond, serif;
}

/* title font settings */
p.title , p.art_title { 
    text-align: left; 
    font-size: 32px;   
}
p.art_title {
    color: white;
    font-size: 100px;
    font-family: 'Brush Script MT', cursive;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 10px;
}
/* text font settings */
p.text , p.about_text , p.art_text{ 
    text-align: left; 
    font-size: 20px;
}
p.about_text {text-align: justify;}
p.art_text {color: white;}

/*============================*/
/*============================*/


/*====== Navigation Bar ======*/

/* navigation bar settings */
.navigation_bar_left , .navigation_bar_right {
    background-color: white;
    overflow: hidden;
    margin-left: 8px;
    margin-right: 4px;
}
/* link settings */
.navigation_bar_left a , .navigation_bar_right a {
    margin-top: 8px;
    margin-bottom: 14px;
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}
.navigation_bar_left a  {float: left;}
.navigation_bar_right a {float: right;}
/* hover link color */
.navigation_bar_left a:hover , .navigation_bar_right a:hover {
    background-color: #f0eeee;
    color: black;
}
/* active link color */
.navigation_bar_left a.active , .navigation_bar_right a.active {
    background-color: #f0eeee;
    color: black;
}
/*============================*/
/*============================*/


/*========= Homepage =========*/

/*============================*/
/*============================*/


/*======= About Section ======*/

/* about section settings */
.about {
    padding: 40px;
    background-color: #f0eeee;
    margin-left: 8px;
    margin-right: 8px;
}
/* link settings */
.about a {
    color: black;
    text-decoration: none;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
/* about container settings */
.about_section{
    height: 400px;
    max-width:860px;
    margin: auto;
}
/* image settings */
.about_image {
    margin-left: 80px;
    float: right;
    width: 200px;
    height: auto;
}

/*============================*/
/*============================*/


/*====== Research Page =======*/

/*============================*/
/*============================*/


/*======== Art Section =======*/

/* art section settings */
.art {
    padding: 10px;
    background-color: #2393fc;
    margin-left: 8px;
    margin-right: 8px;
}
/* art container settings */
.art_section{
    margin-left: 40px;
    height: 200px;
    text-align: left; 
}

/*============================*/
/*============================*/

